@import url("../system_admin_menu.css");
@import url("../main_menu.css");

.smallfont {
    font-family: 'Droid Sans', sans-serif;
    font-size: 10px;
    color: #fff;
}

h1 {
    font-family: 'Droid Sans', sans-serif;
    font-size: 40px;
    color: #fff;
    line-height:90%;
    text-transform: uppercase;
}

.headfont a {
    font-family: 'Droid Sans', sans-serif;
    font-size: 18px;
    color: #fff;
    line-height:90%;
    text-transform: uppercase;
}

.headfont_small {
    font-family: 'Droid Sans', sans-serif;
    font-size:9px;
    color: #fff;
    text-transform: uppercase;
}


#content_article {
    font-size: 120%;
}


#thick_hr {
    color: #fff;
    background-color: #fff;
    height: 3px;
}

#thin_hr {
    color: #999;
    height: 0.1px;
}


html {
    height: 100%;
    overflow:scroll;
    /** for scrollbars hidden use overflow:hidden; */
}

body {
    background-color: #000;
    margin: 0px;
    padding: 0px;
    height: 100%;
    border-top: 1px transparent solid;
    margin-top: -1px;
    z-index:0;
    position:relative;
    
}

img#background {
        /* Set rules to fill background */
        min-height: 100%;
        min-width: 1024px;

        /* Set up proportionate scaling */
        width: 100%;
        height: auto;

        /* Set up positioning */
        position: fixed;
        top: 0;
        left: 0;
}


body {
    font: normal 12px Verdana, Arial, Helvetica, sans-serif;
    color: #fff;
}


#logo_img {
    width: 150%;
    margin-top: 2%;

}

#logo_title {

    margin-top: 1%;
    font-family: 'Droid Sans', sans-serif, cursive;

    font-size: 700%;

}

p {
    margin-top: 0px;
    text-align: left;
}

h3 {
    color: #fff;
}

a:link {
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}
a:visited {
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}
a:hover, a:active {
    text-decoration: none;
    color: #fff;
}
a:hover, a:active {
    text-decoration: none;
    color: #fff;
}

/* specific divs */
#page {
    position:absolute;
    width:100%;
    height:100%;
}


#header {   

    margin-left: 20%;
    height: 400px;
    width: 60%;
}


#gallery_pager {
    position: absolute;
    top: 90%;
    bottom: 15px;
}

#sidebar_cheat {
    margin-top: 0%;
    position: fixed;
    top: 0px;
    background-color: #fff;
    text-align: left;
    width: 15%;
    height: 100%;
    text-transform: uppercase;
    /* for IE */
    filter:alpha(opacity=75);
    /* CSS3 standard */
    opacity:0.75;
}

#sidebar_left {

    font-family: 'Droid Sans', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    margin-left: 1%;
    position: absolute;
    text-align: left;
    height: 0%;
    top:175px;
    color: #aaa;
   
}

.menu {
    text-transform: uppercase;
    font: bold 12px "Flama-Semibold", Verdana, Arial, Helvetica, sans-serif;
    color: #666;

}


#sidebar_left ul, li {
    color: #000;
    text-align: left;
    list-style-type: none;
    padding: 2px;
    vertical-align:top;
}

#sidebar_left a:link {
    text-decoration: none;
    color: rgb(88,89,91);
}

#sidebar_left a:visited {
    text-decoration: none;
    color: rgb(88,89,91);
}

#sidebar_left a:hover {
    text-decoration: none;
    color: #000;
}

#sidebar_left a:active {
    text-decoration: none;
    color: #000;
}

#sidebar_right {
/**
 no sidebar right 
*/
    
}

#tabledebug {
    background-color: #000;
    border: 1px solid gray;
}

#tabledebug td, tr {
    background-color: #000;
    border: 1px solid gray;
}

#form_error ul, li {
    color: #aaa;
}

#form_confirm {
    color: #fff;
}

#system_message {
    color: #fff;
}

fieldset {
    display: block;
}

label {
    display: block;
    float:left;
}

#module_menu ul {
    padding: 0;
    position: relative;
    text-transform: uppercase;
    background : #333;
}

#module_menu li {
    margin-left: 0px;
    display: inline;
    text-transform: uppercase;
}

pre {
    background-color: #333;
    
}
code {
    display: inline-block;
    font-size:80%;
    color: #aea;
    margin: 2px;
}

img {
    border-style: none;
}



#footer {
    text-align: center;
    clear: both;
    margin: 0;
    padding: .5em;
    font-size: 12px;
}



#system_admin_menu { 
    width: 800px; 
    height: 0px; 
} 

.filter  {
    color: #aaa;
    padding: 6px 6px 6px 2px;
    margin-left: 20px;
    text-align: left;
    list-style-type:circle;
    vertical-align:top;
}

#content {   
    background-color: #000;
    border:1px solid black;    
    margin-left: 20%;
    width: 60%;
    top:175px;
    position: absolute;
    padding: 1em;
    background: url("/templates/bartels/trans-black.png");
    background-repeat: repeat;
    color: #fff;
    font: normal 13px Arial, Helvetica, sans-serif;
}

#content_image {
    margin: 10px 0px 10px 10px;
    padding: 0px 0px 0px 0px;
    float: right;
}

#event_image {
    margin: 0px 0px 0px 10px;
    padding: 0px 0px 0px 0px;
    float: right;
}

#toc {
    margin: 0;
    padding: 2px;
    font-size: 120%;

}
